In [2]:
import os
os.chdir(r"D:\ML\20220607_data")

In [8]:
# 현재 경로 확인하기
os.getcwd()

'D:\\ML\\20220607_data'

In [9]:
# 파이썬 라이브러리 일괄 설치하기
!pip install -r requirements.txt

Requirement already satisfied: pandas in c:\users\user\.conda\envs\ml\lib\site-packages (from -r requirements.txt (line 1)) (1.4.2)
Collecting geopy
  Downloading geopy-2.2.0-py3-none-any.whl (118 kB)
Requirement already satisfied: scikit-learn in c:\users\user\.conda\envs\ml\lib\site-packages (from -r requirements.txt (line 3)) (1.1.1)
Collecting xgboost
  Downloading xgboost-1.6.1-py3-none-win_amd64.whl (125.4 MB)
Collecting lightgbm
  Downloading lightgbm-3.3.2-py3-none-win_amd64.whl (1.0 MB)
Collecting tqdm
  Downloading tqdm-4.64.0-py2.py3-none-any.whl (78 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\.conda\envs\ml\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\user\.conda\envs\ml\lib\site-packages (from pandas->-r requirements.txt (line 1)) (1.22.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\.conda\envs\ml\lib\site-packages (from pandas->-r requirements.txt (line 1)) (2021.3)
Collecting geographiclib<2,>=1.49
  Downloading geographiclib-1.52-py3-none-any.whl (38 kB)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\user\.conda\envs\ml\lib\site-packages (from scikit-learn->-r requirements.txt (line 3)) (3.1.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\user\.conda\envs\ml\lib\site-packages (from scikit-learn->-r requirements.txt (line 3)) (1.8.1)
Requirement already satisfied: joblib>=1.0.0 in c:\users\user\.conda\envs\ml\lib\site-packages (from scikit-learn->-r requirements.txt (line 3)) (1.1.0)
Requirement already satisfied: wheel in c:\users\user\.conda\envs\ml\lib\site-packages (from lightgbm->-r requirements.txt (line 5)) (0.37.1)
Requirement already satisfied: colorama in c:\users\user\.conda\envs\ml\lib\site-packages (from tqdm->-r requirements.txt (line 6)) (0.4.4)
Requirement already satisfied: six>=1.5 in c:\users\user\.conda\envs\ml\lib\site-packages (from python-dateutil>=2.8.1->pandas->-r requirements.txt (line 1)) (1.16.0)
Installing collected packages: geographiclib, xgboost, tqdm, lightgbm, geopy
Successfully installed geographiclib-1.52 geopy-2.2.0 lightgbm-3.3.2 tqdm-4.64.0 xgboost-1.6.1

In [10]:
# 현재 구성되어있는 라이브러를 패키지화
!pip freeze > requirements.txt

In [12]:
import pandas as pd
# data load
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
bts = pd.read_csv('bus_bts.csv')

In [13]:
train.head()

,id,date,bus_route_id,in_out,station_code,station_name,latitude,longitude,6~7_ride,7~8_ride,...,9~10_ride,10~11_ride,11~12_ride,6~7_takeoff,7~8_takeoff,8~9_takeoff,9~10_takeoff,10~11_takeoff,11~12_takeoff,18~20_ride
0,0,2019-09-01,4270000,시외,344,제주썬호텔,33.48990,126.49373,0.0,1.0,...,5.0,2.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,2019-09-01,4270000,시외,357,한라병원,33.48944,126.48508,1.0,4.0,...,2.0,5.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2,2,2019-09-01,4270000,시외,432,정존마을,33.48181,126.47352,1.0,1.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
3,3,2019-09-01,4270000,시내,1579,제주국제공항(600번),33.50577,126.49252,0.0,17.0,...,26.0,14.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,53.0
4,4,2019-09-01,4270000,시내,1646,중문관광단지입구,33.25579,126.41260,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415423 entries, 0 to 415422
Data columns (total 21 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             415423 non-null  int64
 1   date           415423 non-null  object
 2   bus_route_id   415423 non-null  int64
 3   in_out         415423 non-null  object
 4   station_code   415423 non-null  int64
 5   station_name   415423 non-null  object
 6   latitude       415423 non-null  float64
 7   longitude      415423 non-null  float64
 8   6~7_ride       415423 non-null  float64
 9   7~8_ride       415423 non-null  float64
 10  8~9_ride       415423 non-null  float64
 11  9~10_ride      415423 non-null  float64
 12  10~11_ride     415423 non-null  float64
 13  11~12_ride     415423 non-null  float64
 14  6~7_takeoff    415423 non-null  float64
 15  7~8_takeoff    415423 non-null  float64
 16  8~9_takeoff    415423 non-null  float64
 17  9~10_takeoff   415423 non-null  float64
 18  10~11_takeoff  415423 non-null  float64
 19  11~12_takeoff  415423 non-null  float64
 20  18~20_ride     415423 non-null  float64
dtypes: float64(15), int64(3), object(3)
memory usage: 66.6+ MB

In [15]:
bts.head()

,user_card_id,bus_route_id,vhc_id,geton_date,geton_time,geton_station_code,geton_station_name,getoff_date,getoff_time,getoff_station_code,getoff_station_name,user_category,user_count
0,1.010010e+15,23000000,149793674,2019-09-10,06:34:45,360,노형오거리,2019-09-10,07:10:31,592.0,화북초등학교,1,1
1,1.010010e+15,23000000,149793674,2019-09-10,06:34:58,360,노형오거리,2019-09-10,06:56:27,3273.0,고산동산(광양방면),1,1
2,1.019160e+15,21420000,149793535,2019-09-10,07:19:07,2495,동광환승정류장4(제주방면),2019-09-10,07:40:29,431.0,정존마을,4,1
3,1.019150e+15,21420000,149793512,2019-09-09,09:14:47,3282,대정환승정류장(대정읍사무소),2019-09-09,10:02:46,431.0,정존마을,1,1
4,1.010010e+15,21420000,149793512,2019-09-09,09:28:53,2820,삼정지에듀,2019-09-09,10:21:37,2972.0,제주국제공항(종점),4,1

In [19]:
bts.info(show_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2409414 entries, 0 to 2409413
Data columns (total 13 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   user_card_id         2409414 non-null  float64
 1   bus_route_id         2409414 non-null  int64
 2   vhc_id               2409414 non-null  int64
 3   geton_date           2409414 non-null  object
 4   geton_time           2409414 non-null  object
 5   geton_station_code   2409414 non-null  int64
 6   geton_station_name   2409365 non-null  object
 7   getoff_date          1513678 non-null  object
 8   getoff_time          1513678 non-null  object
 9   getoff_station_code  1513678 non-null  float64
 10  getoff_station_name  1513639 non-null  object
 11  user_category        2409414 non-null  int64
 12  user_count           2409414 non-null  int64
dtypes: float64(2), int64(5), object(6)
memory usage: 239.0+ MB

In [30]:
# 나눔고딕 인스톨
# !apt -get update -qq
# !apt -get install fonts-nanum* -qq

In [26]:
# matplot lib 한글 폰트 지원하기
import matplotlib.font_manager as fm
sys_font =  fm.findSystemFonts()
[f for f in sys_font if 'Nanum' in f ]

['C:\\Windows\\Fonts\\NanumSquare.ttf',
 'C:\\Windows\\Fonts\\NanumSquareB.ttf',
 'C:\\Windows\\Fonts\\NanumSquareL.ttf',
 'C:\\Windows\\Fonts\\NanumSquare_0.ttf',
 'C:\\Windows\\Fonts\\NanumSquare_acL.ttf',
 'C:\\Windows\\Fonts\\NanumGothic.ttf',
 'C:\\Windows\\Fonts\\NanumGothicExtraBold.ttf',
 'C:\\Windows\\Fonts\\NanumSquareR.ttf',
 'C:\\Windows\\Fonts\\NanumSquare_acR.ttf',
 'C:\\Windows\\Fonts\\NanumSquareEB.ttf',
 'C:\\Windows\\Fonts\\NanumGothicBold.ttf']

In [39]:
# 폰트가 설치 안되어 있다면... 주피터노트북(클라우드가아닌 윈도우나 유닉스)
# https://hangeul.naver.com/2017/nanum
font_name =  fm.FontProperties(fname='D:/ML/NanumGothic.ttf').get_name
font_name()

'NanumGothic'

In [40]:
from matplotlib import rc
rc('font',family=font_name())